gateway/src/main/resources/storage.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://localhost:8000/storageservice"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost:8000/storageservice" name="StorageServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://localhost:8000/storageservice" schemaLocation="/home/dmitry/Java/project/megamarket-bot/gateway/src/main/resources/storage.wsdl"/>
        </xsd:schema>
    </types>
    <message name="getAllByUserId">
        <part name="parameters" element="tns:getAllByUserId"/>
    </message>
    <message name="getAllByUserIdResponse">
        <part name="parameters" element="tns:getAllByUserIdResponse"/>
    </message>
    <message name="deleteAllByUserId">
        <part name="parameters" element="tns:deleteAllByUserId"/>
    </message>
    <message name="deleteAllByUserIdResponse">
        <part name="parameters" element="tns:deleteAllByUserIdResponse"/>
    </message>
    <message name="addNewProduct">
        <part name="parameters" element="tns:addNewProduct"/>
    </message>
    <message name="addNewProductResponse">
        <part name="parameters" element="tns:addNewProductResponse"/>
    </message>
    <message name="changeProductCountBySeller">
        <part name="parameters" element="tns:changeProductCountBySeller"/>
    </message>
    <message name="changeProductCountBySellerResponse">
        <part name="parameters" element="tns:changeProductCountBySellerResponse"/>
    </message>
    <message name="changeProductCountByBuyer">
        <part name="parameters" element="tns:changeProductCountByBuyer"/>
    </message>
    <message name="changeProductCountByBuyerResponse">
        <part name="parameters" element="tns:changeProductCountByBuyerResponse"/>
    </message>
    <message name="getAll">
        <part name="parameters" element="tns:getAll"/>
    </message>
    <message name="getAllResponse">
        <part name="parameters" element="tns:getAllResponse"/>
    </message>
    <portType name="StorageService">
        <operation name="getAllByUserId">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/getAllByUserIdRequest" message="tns:getAllByUserId"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/getAllByUserIdResponse" message="tns:getAllByUserIdResponse"/>
        </operation>
        <operation name="deleteAllByUserId">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/deleteAllByUserIdRequest" message="tns:deleteAllByUserId"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/deleteAllByUserIdResponse" message="tns:deleteAllByUserIdResponse"/>
        </operation>
        <operation name="addNewProduct">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/addNewProductRequest" message="tns:addNewProduct"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/addNewProductResponse" message="tns:addNewProductResponse"/>
        </operation>
        <operation name="changeProductCountBySeller">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/changeProductCountBySellerRequest" message="tns:changeProductCountBySeller"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/changeProductCountBySellerResponse" message="tns:changeProductCountBySellerResponse"/>
        </operation>
        <operation name="changeProductCountByBuyer">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/changeProductCountByBuyerRequest" message="tns:changeProductCountByBuyer"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/changeProductCountByBuyerResponse" message="tns:changeProductCountByBuyerResponse"/>
        </operation>
        <operation name="getAll">
            <input wsam:Action="http://localhost:8000/storageservice/StorageService/getAllRequest" message="tns:getAll"/>
            <output wsam:Action="http://localhost:8000/storageservice/StorageService/getAllResponse" message="tns:getAllResponse"/>
        </operation>
    </portType>
    <binding name="ProductPortBinding" type="tns:StorageService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getAllByUserId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteAllByUserId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addNewProduct">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeProductCountBySeller">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeProductCountByBuyer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="StorageServiceImplService">
        <port name="ProductPort" binding="tns:ProductPortBinding">
            <soap:address location="http://localhost:8000/storageservice"/>
        </port>
    </service>
</definitions>